#caminata{
    margin: 6vw 35vw;
}
#caminata img{
    position: absolute;
}
#caminata .img1{
    animation-name: img1;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img1{
    0%{opacity: 1;}
}
#caminata .img2{
    animation-name: img2;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img2{
    0%{opacity: 1;}
}
#caminata .img3{
    animation-name: img3;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img3{
    0%{opacity: 1;}
}
#caminata .img4{
    animation-name: img4;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img4{
    0%{opacity: 1;}
}
#caminata .img5{
    animation-name: img5;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img5{
    0%{opacity: 1;}
}
#caminata .img6{
    animation-name: img6;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img6{
    0%{opacity: 1;}
}
#caminata .img7{
    animation-name: img7;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img7{
    0%{opacity: 1;}
}
#caminata .img8{
    animation-name: img8;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img8{
    0%{opacity: 1;}
}
#caminata .img9{
    animation-name: img9;
    animation-delay: 0.9s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img9{
    0%{opacity: 1;}
}
#caminata .img10{
    animation-name: img10;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 0;
}
@keyframes img10{
    0%{opacity: 1;}
}