body{
    background-color: #f9e4c9;
    overflow: hidden;
}
img{
    position: relative;
    z-index: 1;
    display: block;
    width: 7vw;
    height: 7vw;
    background-color: white;
    border-radius: 90%;
    padding: 0.3vw;
    margin-bottom: -5.5vw;
    box-shadow: 2px 2px 10px rgb(184, 182,182);
    margin-top: 6vw;
    margin-left: 45vw;
    animation-name: movimiento;
    animation-duration: 3s;
}
@keyframes movimiento{
    0%{margin-top: 60vw;}
    90%{margin-top: 0vw;}
    97%{margin-top: 8vw;}

}
#blanco{
    background-color: white;
    width: 25vw;
    height: 18vw;
    margin: auto;
    text-align: center;
    justify-items: center;
    border: solid transparent;
}
.titu{
    color: #f091a0;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 7vw;
}
.conte{
    opacity: 70%;
    font-size: 0.891rem;
    margin-top: 0.5vw;
}
.verde{
    background-color: #009ab1;
    width: 10vw;
    margin: 3vw auto;
    color: white;
    padding: 0.8vw;
    font-size: 0.8rem;
    transition: all;
}
.verde:hover{
    background-color: #f34e60;
    cursor: pointer;
}