body{
    margin: 0;
}
#cielo{
    background-image: url(img/sky.jpg);
    background-size: cover;
    margin: auto;
    width: 100vw;
    height: 100vw;
    
}
#nube img{
    width: 12vw;
    height: 7vw;
    margin: 8vw 4vw;
    animation-name: nube;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes nube{
    10% {margin-left: 117vw;}
}