body{
    margin: 0;
    overflow: hidden;
}
#cielo{
    background-image: url(img/sky.jpg);
    background-size: cover;
    margin: auto;
    width: 100vw;
    height: 100vw;
    
}
#nube img{
    width: 12vw;
    height: 7vw;
    margin: 8vw;
    margin-left: -20vw;
    animation-name: nube;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes nube{
    100% {margin-left: 100vw;}
}
#cloud img{
    width: 12vw;
    height: 7vw;
    margin-left: -30vw;
    margin-top: -5vw;
    animation-name: cloud;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes cloud{
    100%{margin-left: 100vw;}
}