body{
    background-color:#2c333a;
}
.letras{
    height: 0rem;
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin: auto;
}
.conte input{
    display: none;
}
.conte input:checked~nav{
    display: block;
}
nav{
    display: none;
}
nav a{
    text-decoration: none;
    color: black;
    display: block;
}
img{
    width: 3vw;
    height: 3vw;
}
.u{
    color:#80bfb2;
    height: 14rem;
    transform: rotateX(180deg);
    animation-name: u;
    animation-duration: 3s;
}
@keyframes u{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.p{
    height: 14rem;
    color: #8898a2;
    transform: rotateX(180deg);
    animation-name: p;
    animation-duration: 4s;
    
}
@keyframes p{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.i{
    height: 14rem;
    color: #80bfb2;
    transform: rotateX(180deg);
    animation-name: i;
    animation-duration: 5s;
    
}
@keyframes i{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.o{
    height: 14rem;
    color:#8898a2;
    transform: rotateX(180deg);
    animation-name: o;
    animation-duration: 6s;
    
}
@keyframes o{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.v{
    height: 14rem;
    color:#80bfb2;
    transform: rotateX(180deg);
    animation-name: v;
    animation-duration: 7s;
    
}
@keyframes v{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.e{
    height: 14rem;
    color: #8898a2;
    transform: rotateX(180deg);
    animation-name: e;
    animation-duration: 8s;
    
}
@keyframes e{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
.r{
    height: 14rem;
    color: #80bfb2;
    transform: rotateX(180deg);
    animation-name: r;
    animation-duration: 9s;
    
}
@keyframes r{
    0% {transform: rotateX(90deg);}
    50% {transform: rotateX(0deg);}
    100% {transform: rotateX(180deg);}
}
